# Gradle
.gradle/
build/
gradle-app.setting

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.log

# Package Files
*.nar

# Test output
*.log
*.tmp